body{
    background-color: rgb(10, 43, 58);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
}

.container{
    background-color: rgb(10, 175, 203);
    width: 90%;
    padding:20px;
    border-radius: 16px;
    border:3px solid rgb(26, 18, 179);
    max-width: 600px;
    box-shadow: 0 2px 2px rgba(0,0,0,0,) ;
}

h1{
    font-size:35px;
}

p{
    line-height:7px;
    font-size:20px;
}

input{
    width:80%;
    padding: 11px;
}

button{
    margin-top:10px;
    border-radius: 5px;
    border: none;
    padding:10px 20px;
    cursor:pointer;  
}